.sidebar
    .logo-area.text-center hichampro 
    ul.link-area.list-unstyled 
        li: a(href="#") home page
        li
            a.toggle-submenue(href="#")
                |forms
                i(class="fa-solid fa-chevron-right icon")
            ul.child-links.list-unstyled
                li: a(href="#") text area
                li: a(href="#") input
                li: a(href="#") checkbpox
                li: a(href="#") radio
            a.toggle-submenue(href="#")
                |misc
                i(class="fa-solid fa-chevron-right icon")
            ul.child-links.list-unstyled
                li: a(href="#") text area
                li: a(href="#") input
                li: a(href="#") checkbpox
                li: a(href="#") radio
            